#headshot {
	left: -120px;
	top: -150px;
	position: relative;
}
#berkeley {
	width: 50px;
	height: 50px;
	
}
#header {
	position: absolute ;
	width:2100px; 	;
	height: 570px;
	color: white;
	background-color: black;
	word-wrap: normal;
	overflow-style: scroll;
}
#badger {
	position: relative;
	left: 200px;
}
p.bio{
	position: relative;
	left: 375px;
	top: -400px;
}
body {
	font-family: Arial;
	font-size: 22px;
	color: #000;
	transform: scaleY(1.1);
}
h1 {
	position: relative;
	left: 700px;
}
#resume {
	padding: 30px;
	position: absolute;
	width: 640px;
	height:1000px ;
	top: 410px;
	background-color: #9F7F23;
}
#skills {
	padding: 30px;
	position: absolute;
	margin-left: 0;
	width: 640px;
	height: 1000px;
	background-color: #0F4262 ;
	left: 700px;
	top: 410px;
}
#personal {
	padding: 30px;
	background-color: #3E1C4E;
	left: 1400px;
	top: 410px;
	position: absolute;
	width: 640px;
	height: 1000px;
}
.bottom {
	color: #fff;
	margin-left: ;
}